<!-- <h2>Hello {{ title }}</h2>

<div>
  <button type="button" (click)="ninjaConsole()">Console ninjaname</button>
</div>

<div>
  <button
    type="button"
    (click)="changeNinjaName('naruto')"
    class="bg-indigo-500 border-solid border-2 border-black rounded-md p-0.5"
  >
    Change Ninja Name to Naruto
  </button>
  <br />
  <button
    type="button"
    (click)="changeNinjaName('sakura')"
    class="bg-indigo-500 border-solid border-2 border-black rounded-md p-0.5"
  >
    Change Ninja Name to Sakura
  </button>
  <br />
  <button
    type="button"
    (click)="changeNinjaName('sasuke')"
    class="bg-indigo-500 border-solid border-2 border-black rounded-md p-0.5"
  >
    Change Ninja Name to Sasuke
  </button>
</div> -->

<!-- <span>มา 4 จ่าย 3</span>
<div>
  <input
    #priceBuffetInput
    class="border-solid border-2 border-black"
    type="text"
    placeholder="Price Buffet"
  />
  <button
    class="bg-gray-300 border-solid border-2 border-black rounded-md p-0.5"
    type="button"
    (click)="calBuffet(priceBuffetInput.value)"
  >
    Calculate
  </button>
</div>
<span>คนละ {{ value }} บาท</span> -->

<!-- <app-action-bar
  [step]="5"
  (numberChange)="testNumberChange($event)"
></app-action-bar>
<app-action-bar
  [step]="10"
  (numberChange)="testNumberChange($event)"
></app-action-bar> -->

<!-- <app-max-min-meter
  [minLabel]="appMinLabel"
  [maxLabel]="appMaxLabel"

  (minChange)="doAppMinChange($event)"
  (maxChange)="doAppMaxChange($event)"
></app-max-min-meter> -->

<!-- <app-squre-flex
  [divWidth]="squreWidth"
  [divHeight]="squreHeight"
></app-squre-flex>
<div style="padding: 5px">
  <label for="width">Width: </label>
  <button type="button" (click)="squreWidth = 500">500px</button>
  <button type="button" (click)="squreWidth = 100">100px</button>
  <button type="button" (click)="squreWidth = 200">200px</button>
</div>

<div style="padding: 5px">
  <label for="height">Height: </label>
  <button type="button" (click)="squreHeight = 500">500px</button>
  <button type="button" (click)="squreHeight = 100">100px</button>
  <button type="button" (click)="squreHeight = 200">200px</button>
</div> -->
